<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="/@(nameof(TestPens)).styles.css" />
    @foreach (Tier tier in Enum.GetValues<Tier>()) 
    {
        (string mainColor, string secColor) = tier.GetColors();
        (string darkMainColor, string darkSecColor) = tier.GetColorsDark();

        <style>
            :root {
                @($"--{tier}-color-main"): @mainColor;
                @($"--{tier}-color-secondary"): @secColor;
            }

            html.dark-theme {
                @($"--{tier}-color-main"): @darkMainColor;
                @($"--{tier}-color-secondary"): @darkSecColor;
            }


            [data-tier="@tier"][tier-background-gradient] {
                background: linear-gradient(90deg, var(@($"--{tier}-color-main")), var(@($"--{tier}-color-secondary")));
            }

            [data-tier="@tier"][tier-box-shadow] {
                box-shadow: 0 0 15px var(@($"--{tier}-color-main"));
            }
        </style>
    }
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/site.js"></script>
    <script src="/js/themeController.js"></script>
</head>

<body>
    <header>
        <h1>@ViewData["Title"]</h1>
        <nav id="mainNav">
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/tierlist">Тирлист</a></li>
                <li><a href="/battles/">Баттлы</a></li>
                <li><a href="/admin/">Админ панель</a></li>
            </ul>
        </nav>
        <button id="menuToggle">☰</button>
        <button id="themeToggle">🌙</button>
    </header>

    <main>
        @RenderBody()
    </main>

    <div class="modal" id="alertModal">
        <div class="modal-content">
            <h3></h3>
        </div>
    </div>

    <footer>
        <p>© 2025 SPSB. Все права защищены.</p>
    </footer>
</body>

</html>
