@model IReadOnlyDictionary<Tier, List<PersonModel>>

@foreach (var tierGroup in Model)
{
    (string mainColor, string secColor) = tierGroup.Key.GetColors();
    <style>
        .tier-category[data-tier="@tierGroup.Key"]::before {
            background: linear-gradient(90deg, var( @($"--{tierGroup.Key}-color-main") ), var( @($"--{tierGroup.Key}-color-secondary") ));
        }
    </style>
    <h2 class="tier-category" data-tier="@tierGroup.Key" tier-box-shadow>@tierGroup.Key.GetName() Tier</h2>
    int it = 1;
    <section class="players-group">
        @foreach (var item in tierGroup.Value)
        {
            <div class="player-card" onclick="openModal('@item.VideoLink')">
                <div class="card-content">
                    <div class="info">
                        <h3 data-drop="@item.InDrop">@($"{it}. {item.Nickname}")</h3>
                        <p class="tier" data-tier="@tierGroup.Key" tier-background-gradient tier-box-shadow>@tierGroup.Key.GetName() Tier</p>
                    </div>
                    <div class="avatar">
                        <img src="@item.AvatarUrl" alt="@item.Nickname" />
                    </div>
                </div>
            </div>
            it++;
        }
    </section>
}